<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Sucesso</h1>
    <p>Você será redirecionado para a próxima página em 5 segundos</p>
  </body>

  <script>
    setTimeout(() => {
      window.location.href = '/home'
    }, 5000)
  </script>
</html>
