<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logoff</title>
  </head>
  <body>
    <h1>Saindo da sua conta</h1>
    <p>Você será redirecionado para a página de login</p>
  </body>
  <script>
    setTimeout(() => {
      window.location.href = '/'
    }, 5000)
  </script>
</html>
